code {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	background-color: #eee;
}

p code {
	white-space: pre-wrap;
	padding: 1px 5px 1px 5px;
}

.code {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	background-color: #eee;
	white-space: pre-wrap;
	padding: 1px 5px 1px 5px;
}