<div class="options-container">
	<h1>{{ translate('Options_Title') }}</h1>

	<div class="options-section">
		<h2>{{ translate('Options_Appearance') }}</h2>

		<div class="option-group">
			<label>
				<input
					type="checkbox"
					[(ngModel)]="options.darkMode"
					(change)="saveOptions()"
				/>
				<span>{{ translate('Options_DarkMode') }}</span>
			</label>
			<p class="description">{{ translate('Options_DarkMode_Description') }}</p>
		</div>
	</div>

	<div class="options-section">
		<h2>{{ translate('Options_ImageDisplay') }}</h2>

		<div class="option-group">
			<label>{{ translate('Options_DefaultImageDisplayMode') }}</label>
			<div class="radio-group">
				<label class="radio-label">
					<input
						type="radio"
						name="imageDisplayMode"
						value="fitOnPage"
						[(ngModel)]="options.imageDisplayMode"
						(change)="saveOptions()"
					/>
					<span>{{ translate('Options_ResizeImagesFitOnPage') }}</span>
				</label>
				<label class="radio-label">
					<input
						type="radio"
						name="imageDisplayMode"
						value="fullWidth"
						[(ngModel)]="options.imageDisplayMode"
						(change)="saveOptions()"
					/>
					<span>{{ translate('Options_ResizeImagesFullWidth') }}</span>
				</label>
				<label class="radio-label">
					<input
						type="radio"
						name="imageDisplayMode"
						value="fillPage"
						[(ngModel)]="options.imageDisplayMode"
						(change)="saveOptions()"
					/>
					<span>{{ translate('Options_ResizeImagesFillPage') }}</span>
				</label>
				<label class="radio-label">
					<input
						type="radio"
						name="imageDisplayMode"
						value="thumbnails"
						[(ngModel)]="options.imageDisplayMode"
						(change)="saveOptions()"
					/>
					<span>{{ translate('Options_ResizeImagesThumbnails') }}</span>
				</label>
			</div>
			<p class="description">{{ translate('Options_DisplayModeDescription') }}</p>
		</div>

		<div class="option-group">
			<label>
				<input
					type="checkbox"
					[(ngModel)]="options.showImagesInViewer"
					(change)="saveOptions()"
				/>
				<span>{{ translate('Options_ShowImagesInViewerDefault') }}</span>
			</label>
			<p class="description">{{ translate('Options_ShowImagesInViewerDescription') }}</p>
		</div>

		<div class="option-group">
			<label>
				<input
					type="checkbox"
					[(ngModel)]="options.toggleBrokenImages"
					(change)="saveOptions()"
				/>
				<span>{{ translate('Options_ShowBrokenImagesDefault') }}</span>
			</label>
			<p class="description">{{ translate('Options_ShowBrokenImagesDescription') }}</p>
		</div>
	</div>

	<div class="options-section">
		<h2>{{ translate('Options_Behaviour') }}</h2>

		<div class="option-group">
			<label>
				<input
					type="checkbox"
					[(ngModel)]="options.openInForeground"
					(change)="saveOptions()"
				/>
				<span>{{ translate('Options_OpenNewFusksInForeground') }}</span>
			</label>
			<p class="description">{{ translate('Options_OpenNewFusksInForeground_Description') }}</p>
		</div>

		<div class="option-group">
			<label>
				<input
					type="checkbox"
					[(ngModel)]="options.keepRecentFusks"
					(change)="saveOptions()"
				/>
				<span>{{ translate('Options_History_Keep') }}</span>
			</label>
			<p class="description">{{ translate('Options_History_Keep_Description') }}</p>
		</div>
	</div>

	<div class="status" [class.show]="statusMessage">
		{{ statusMessage }}
	</div>
</div>
