$black: #000;
$white: #fff;
$off-white: #eee;
$dark: #222;
$red: #b33c04;

html {
  background-color: $white;
  border: 0;
  color: $dark;
  cursor: default;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  border: 0;
  margin: auto;
  margin-bottom: 4px;
}

a,
a:hover,
a:visited {
  color: $red;
  cursor: pointer;
  text-decoration: none;
}


button.download {
  float: right;
  margin: .5em .4em .5em 0;
  padding: 5px;
}

#content.fullwidth img {
  width: auto;
}

#content.fullwidth img.fusk-image {
  width: 100%;
}

.code {
  background-color: $off-white;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  padding: 1px 5px;
  white-space: pre-wrap;
}

.info {
  background: $white url(/Images/128x128.png) no-repeat left top;
  clear: both;
  min-height: 128px;
  padding-left: 130px;
  padding-top: 10px;
  text-align: left;
}

div#bottom {
  clear: both;
  padding-top: 20px;
 }

div.rating {
  border: 1px solid $off-white;
  clear: both;
  margin: 0 auto;
  padding: 20px 0;
  width: 500px;
}

.wrap {
  border: 1px solid $off-white;
  float: left;
  margin: 7px;
  padding: 3px;
  text-align: center;
}

#dialogs {
  display: none;
}

.dialog-form {
  margin: 20px 0;
  text-align: left;
  width: 350px;
}

input#saveName {
  width: 500px;
}

#viewer .close {
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 30px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 101;
}

#viewer .close:hover {
  color: $off-white;
}

.viewer-item {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.viewer-item a {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  width: 100%;
}

.viewer-item.small {
  bottom: 10%;
  opacity: 0.2;
  top: 10%;
  z-index: 99;
}

.viewer-item.modal {
  background-color: $black;
  z-index: 98;
}

ul.totals {
  font-weight: bold;
}

ul {
  .linklist {
    padding: 0;
  }

  .linklist li {
    display: inline;
    padding-right: 5px;
  }

  .linklist li~li {
    border-left: 1px solid $black;
    padding-left: 5px;
  }
}

.viewer-item.current a {
  background-position: 50% 50%;
}

.viewer-item a.previous-image {
  background-position: 35% 50%;
}

.viewer-item a.next-image {
  background-position: 65% 50%;
}
