<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fuskr Options</title>
</head>
<body data-ng-app="fuskrApp">
	<div class="option-group">
		<label>
			<input id="darkMode" type="checkbox" data-ng-model="opt.darkMode" />
			<span data-ng-bind-html="'DarkMode' | translate:'Options'"></span>
		</label>
		<p class="description" data-ng-bind-html="'DarkMode_Description' | translate:'Options'"></p>
	</div>
	<div class="option-group">
		<label>
			<input id="openInForeground" type="checkbox" data-ng-model="opt.openInForeground" />
			<span data-ng-bind-html="'OpenNewFusksInForeground' | translate:'Options'"></span>
		</label>
		<p class="description" data-ng-bind-html="'OpenNewFusksInForeground_Description' | translate:'Options'"></p>
	</div>
	<div class="option-group">
		<label>
			<input id="keepRecentFusks" type="checkbox" data-ng-model="opt.keepRecentFusks" />
			<span data-ng-bind-html="'History_Keep' | translate:'Options'"></span>
		</label>
		<p data-ng-bind-html="'History_Keep_Description' | translate:'Options'"></p>
	</div>
	<div id="status"></div>
	<button id="save">Save</button>

	<script type="text/javascript" src="/Scripts/vendor.js"></script>
	<script type="text/javascript" src="/Scripts/app.js"></script>
	<script type="text/javascript" src="/Scripts/options.js"></script>
</body>
</html>
