html{
	background-color:#FFF;
	border:0;
	color:#222222;
	cursor:default;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	text-align:center;
}

img{
	border:0px;
	margin:auto;
	margin-bottom:4px;
}

a, a:hover, a:visited{
	color:#b33c04;
	cursor:pointer;
	text-decoration:none;
}

.info{
	background:#FFF url(/Images/128x128.png) no-repeat left top;
	padding-left:130px;
	text-align:left;
	min-height:128px;
	padding-top:10px;
}

	div#bottom{
		clear:both;
		padding-top:20px;
	}

	div.rating{
		border:1px solid #ccc;
		clear:both;
		margin:0 auto;
		padding:20px 0;
		width:500px;
	}

	.wrap{
		border:1px solid #ccc;
		float:left;
		margin:7px;
		padding:3px;
		text-align:center;
	}

	.fuskTotals{
		font-weight:bold;
	}